<main>
  @if (isLoggedIn) {
    @if (showAddForm) {
      <section class="add-book-form">
        <form [formGroup]="addBookForm" (ngSubmit)="onAddBook()">
          <label for="title">Title:</label>
          <input
            type="text"
            formControlName="title"
            placeholder="Enter book title"
          />
          @if (
            addBookForm.get('title')?.invalid &&
            (addBookForm.get('title')?.dirty ||
              addBookForm.get('title')?.touched)
          ) {
            <p class="errors">Title is required</p>
          }

          <label for="author">Author:</label>
          <input
            type="text"
            formControlName="author"
            placeholder="Enter name of author"
          />
          @if (
            addBookForm.get('author')?.invalid &&
            (addBookForm.get('author')?.dirty ||
              addBookForm.get('author')?.touched)
          ) {
            <p class="errors">Author is required</p>
          }

          <label for="genre">Genre:</label>
          <input
            type="text"
            formControlName="genre"
            placeholder="Enter genre"
          />
          @if (
            addBookForm.get('genre')?.invalid &&
            (addBookForm.get('genre')?.dirty ||
              addBookForm.get('genre')?.touched)
          ) {
            <p class="errors">Genre is required</p>
          }

          <label for="pageCount">Page Count:</label>
          <input
            type="number"
            formControlName="pageCount"
            min="1"
            placeholder="Enter page count"
          />
          @if (
            addBookForm.get('pageCount')?.invalid &&
            (addBookForm.get('pageCount')?.dirty ||
              addBookForm.get('pageCount')?.touched)
          ) {
            @if (addBookForm.get('pageCount')?.errors?.['required']) {
              <p class="errors">Page Count is required</p>
            } @else if (addBookForm.get('pageCount')?.errors?.['min']) {
              <p class="errors">Enter a valid count</p>
            }
          }
          <label for="isPremium">Premium:</label>
          <input type="checkbox" formControlName="isPremium" />
          <br />
          <br />
          <button type="submit" [disabled]="addBookForm.invalid">
            Add Book
          </button>
          <br />
          <button type="reset" (click)="toggleAddForm()">Cancel</button>
        </form>
      </section>
    } @else {
      <section>
        <h2>Book List</h2>
        <button (click)="togglePremium()">
          {{ showPremiumOnly ? 'Show All Books' : 'Show Premium Books Only' }}
        </button>
        <button (click)="initializeForm()">Add book</button>
        <ul>
          @for (book of books; track book.id) {
            <li>
              <a [routerLink]="['/books', book.id]">
                {{ book.title }} by {{ book.author }}
              </a>
            </li>
          }
        </ul>
      </section>
    }
  } @else {
    <h3>Book List is only available for users</h3>
  }
</main>
